<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="col-sm-6 mx-auto">
        <div class="card mt-5">
            <div class="card-body">
                <h1 class="text-center"> <span class="fa fa-sign-out"> </span>Signup </h1>
                <% if(message.length > 0 ){ %> <div class="alert alert-warning"> <%= message %> </div> <% } %>
                <form action="/signup" method="POST">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="enter email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="enter password">
                    </div>
                    <button  type="submit" class="btn btn-light"><span class="fa fa-paper-plane"></span> SEND</button>
                </form>
                <hr>
                <div class="text-center">
                    <p>Already have an account? <a href="/login">Login</a></p>
                    <p>or go <a href="/">Home</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>